.MessageCard{
    width: 300px;
    height: 120px;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    overflow: hidden;
}

.MessageCard.MessageCardOpen{
    background-color: white;
}

.MessageCard-header{
    display: flex;
    gap: 5px;
    align-items: center;

}

.MessageCard-header-title{
    font-size: 12px;
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.MessageCard-header-badge{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

.MessageCard-title{
    margin-top: 5px;
    color: blue;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.MessageCard-text{
    margin-top: 5px;
    font-size: 13px;
    height: 48px;
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
}
